<div class="header__clothes-menu">
  <div class="container">
    <div class="header__clothes-menu-wrapper">
      <ul class="header__clothes-menu-list">
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link header__clothes-menu-link--all" href="catalog.html"
            >Все</a
          >
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Платья<sup>248</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Пальто и тренчи<sup>32</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Пуховики<sup>12</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Куртки и жилеты<sup>16</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Деним<sup>56</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Блузы и топы<sup>182</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Брюки<sup>80</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Юбки<sup>22</sup></a>
        </li>
      </ul>
      <ul class="header__clothes-menu-list">
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Рубашки<sup>63</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Футболки<sup>108</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Свитеры<sup>202</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Толстовки<sup>93</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Комплекты<sup>26</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Комбинезоны<sup>30</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Шорты<sup>23</sup></a>
        </li>
        <li class="header__clothes-menu-item">
          <a class="header__clothes-menu-link" href="catalog.html">Купальники<sup>32</sup></a>
        </li>
      </ul>
      <img
        class="header__clothes-menu-img"
        src="images/dropdawn-menu-img.jpg"
        alt="Девушка в белом платье"
      />
    </div>
  </div>
</div>
