.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 86px;
    background-color: $background-color;

    &--index {
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      background-color: transparent;
    }
  }

  &__burger {
    position: relative;
    z-index: 30;
    display: none;
    width: 20px;
    height: 20px;
    padding: 5;

    span {
      position: absolute;
      display: block;
      width: 20px;
      height: 1px;
      background-color: $main-color;
      transition: 0.5s all;

      &:nth-child(1) {
        transform: translateY(-5px);
      }

      &:nth-child(3) {
        transform: translateY(5px);
      }
    }

    &--cross {
      span {
        &:nth-child(1) {
          transform: translateY(0) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
  }

  &__menu-list {
    display: flex;
    gap: 44px;
  }

  &__menu-link {
    padding-bottom: 25px;
    font-size: 16px;
    color: $main-color;
    border-bottom: 1px transparent solid;
    transition: 0.3s linear;
  }

  &__logo {
    display: block;
    width: 182px;
    height: 86px;
    background: center / contain url(../images/Logo.png) no-repeat;
  }

  &__user-menu {
    display: flex;
    gap: 70px;
    align-items: center;
  }

  &__search {
    position: relative;
  }

  &__search-input {
    width: 200px;
    height: 25px;
    padding: 0 35px;
    font-size: 16px;
    border: none;
    border-bottom: 1px #dadada solid;
    background-color: transparent;
    outline: none;
    &::placeholder {
      color: #dadada;
    }
  }

  &__search-button {
    position: absolute;
    left: 10px;
    top: 3px;
    width: 19px;
    height: 19px;
  }

  &__buttons {
    display: flex;
    gap: 18px;
    align-items: center;
  }

  &__button {
    padding: 2px;
    width: 31px;
    height: 31px;
    text-align: center;
    svg path {
      fill: #cecece;
      transition: 0.5s all;
    }
  }

  &__clothes-menu {
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: $background-color;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: 0.5s all;
  }

  &__clothes-menu-wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__clothes-menu-link {
    display: block;
    padding: 10px 0;
    font-weight: 500;
    color: $main-color;
    border-bottom: 1px solid transparent;
    sup {
      display: none;
      padding-left: 5px;
      font-weight: 300;
      color: $input-color;
    }

    &--all {
      display: none;
    }
  }

  &__slider {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
  }

  &__slider-wrapper {
    display: flex;
    align-items: center;
    transition: 1s all;
  }

  &__content {
    &--first {
      width: 100%;
      min-height: 954px;
      background: center / cover url(../images/bg-main-1.jpeg) no-repeat;
    }

    &--second {
      width: 100%;
      min-height: 954px;
      background: center / cover url(../images/bg-main-2.jpg) no-repeat;
    }
  }

  &__content-inner {
    &--first {
      width: 100vw;
      margin-left: auto;
      padding-left: 17%;
      padding-top: 30%;
    }

    &--second {
      width: 100vw;
      margin-left: auto;
      padding-left: 45%;
      padding-top: 20%;
    }
  }

  &__text {
    &--first {
      font-family: 'Forum', serif;
      font-weight: 400;
      font-size: 63px;
      line-height: 114%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
    }

    &--second {
      margin-bottom: 25px;
      font-family: 'Playfair Display', serif;
      font-weight: 500;
      font-size: 63px;
      line-height: 114%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
      color: $background-color;

      span {
        display: block;
        margin-bottom: 25px;
        font-family: $main-font;
        font-weight: 400;
        font-size: 25px;
        line-height: 114%;
        letter-spacing: 0.03em;
      }
    }
  }

  &__content-button {
    margin: 0 auto;
    width: 300px;
  }

  &__arrow-next {
    position: absolute;
    top: 50%;
    right: 80px;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    svg path {
      transition: 0.3s linear;
    }
  }

  &__arrow-prev {
    position: absolute;
    top: 50%;
    left: 80px;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    svg path {
      transition: 0.3s linear;
    }
  }

  &__dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__dot {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: rgba(229, 229, 229, 0.46);
    transition: 0.3s all;

    & + & {
      margin-left: 10px;
    }

    &--active {
      background-color: #dcdbdb;
    }
  }
}

@media (any-hover: hover) {
  .header {
    &__menu-link:hover {
      border-bottom: 1px $main-color solid;
    }

    &__open-clothes:hover + &__clothes-menu,
    &__clothes-menu:hover {
      transform: rotateX(0deg);
    }

    &__clothes-menu-link:hover {
      text-decoration: underline;
    }

    &__button:hover {
      svg path {
        fill: $main-color;
      }
    }

    &__arrow-prev:hover,
    &__arrow-next:hover {
      svg path {
        fill: $main-color;
      }
    }

    &__dot:hover {
      background-color: #dcdbdb;
    }
  }
}
