.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 95px;
  }

  &__menu-list {
    display: flex;
    gap: 44px;
  }

  &__menu-link {
    padding-bottom: 25px;
    border-bottom: 1px transparent solid;
    transition: 0.3s linear;
  }

  &__search {
    position: relative;
  }

  &__search-input {
    width: 200px;
    height: 25px;
    padding: 0 35px;
    border: none;
    border-bottom: 1px #dadada solid;
    background-color: transparent;
    outline: none;
    &::placeholder {
      color: #dadada;
    }
  }

  &__search-button {
    position: absolute;
    left: 10px;
    top: 3px;
    width: 19px;
    height: 19px;
    background-image: url(../images/icons/search-button.svg);
  }

  &__user-menu {
    display: flex;
    gap: 70px;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 18px;
    align-items: center;
  }

  &__button {
    padding: 2px;
    svg path {
      transition: 0.5s fill;
    }
  }
}

@media (any-hover: hover) {
  .header {
    &__menu-link:hover {
      border-bottom: 1px $main-color solid;
    }

    &__button:hover {
      svg path {
        fill: $main-color;
      }
    }
  }
}
