.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 95px;
  }

  //БУРГЕР-КНОПКА

  &__burger {
    position: relative;
    z-index: 30;
    display: none;
    width: 20px;
    height: 20px;
    padding: 5;

    span {
      position: absolute;
      display: block;
      width: 20px;
      height: 1px;
      background-color: $main-color;
      transition: 0.5s all;

      &:nth-child(1) {
        transform: translateY(-5px);
      }

      &:nth-child(3) {
        transform: translateY(5px);
      }
    }

    &--cross {
      span {
        &:nth-child(1) {
          transform: translateY(0) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
  }

  //ГЛАВНОЕ МЕНЮ

  &__menu-list {
    display: flex;
    gap: 44px;
  }

  &__menu-link {
    padding-bottom: 25px;
    border-bottom: 1px transparent solid;
    transition: 0.3s linear;
  }

  &__search {
    position: relative;
  }

  &__search-input {
    width: 200px;
    height: 25px;
    padding: 0 35px;
    border: none;
    border-bottom: 1px #dadada solid;
    background-color: transparent;
    outline: none;
    &::placeholder {
      color: #dadada;
    }
  }

  &__search-button {
    position: absolute;
    left: 10px;
    top: 3px;
    width: 19px;
    height: 19px;
    background-image: url(../images/icons/search-button.svg);
  }

  &__user-menu {
    display: flex;
    gap: 70px;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 18px;
    align-items: center;
  }

  &__button {
    padding: 2px;
    svg path {
      transition: 0.5s fill;
    }
  }

  //ВЫПАДАЮЩЕЕ МЕНЮ

  &__clothes-menu {
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    background-color: $background-color;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: 0.3s all;
  }

  &__clothes-menu-wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__clothes-menu-link {
    display: block;
    padding: 10px 0;
    font-weight: 500;
    color: $main-color;
    border-bottom: 1px solid transparent;
    sup {
      display: none;
      padding-left: 5px;
      font-weight: 300;
      color: $input-color;
    }

    &--all {
      display: none;
    }
  }

  &__clothes-menu-img {
    min-width: 523px;
    height: auto;
    object-fit: contain;
  }
}

@media (any-hover: hover) {
  .header {
    &__menu-link:hover {
      border-bottom: 1px $main-color solid;
    }

    &__button:hover {
      svg path {
        fill: $main-color;
      }
    }

    &__clothes-menu-link:hover {
      text-decoration: underline;
    }

    &__open-clothes:hover + &__clothes-menu,
    &__clothes-menu:hover {
      transform: rotateX(0deg) translateY(25px);
    }
  }
}
