.subtitle {
  &--arrow-right {
    position: relative;
    padding-right: 15px;
    font-size: 12px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      border: solid $main-color;
      border-width: 0 1px 1px 0;
      padding: 2px;
      transform: rotate(-45deg) translateY(-50%);
    }
  }
}
